server:
  address: 0.0.0.0

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      server:
        webflux:
          routes:

            - id: auth-service
              uri: http://localhost:8081
              predicates:
                - Path=/auth/**
              filters:
                - StripPrefix=1

            - id: user-service
              uri: http://localhost:8082
              predicates:
                - Path=/user/**
              filters:
                - StripPrefix=1

            - id: storage-service-v1
              uri: http://localhost:8088
              predicates:
                - Path=/api/v1/storage/**
              filters:
                - StripPrefix=1

            - id: storage-service
              uri: http://localhost:8088
              predicates:
                - Path=/storage/**
              filters:
                - StripPrefix=1
